.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
@media (max-width: 768px) {
    
}

body {
    background-color: rgb(168, 227, 120);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
}
h2 {
    text-align: center;
}
div p{
    margin-top: 50px;
}
#myProjects img {
    margin: auto;
    width: 50%;
}
.AboutMe p {
    justify-content: space-around;
}
/*a {
    text-align: center;
    padding: 10px;
}*/
h3 {
    text-align: right;
    margin-top: 50px;
}
